.project-description {
    padding: 8px;
}

.c-header.bold {
    font-weight: bold;
}

.container {
    max-width: 950px !important;
}

#portfolio .item,
#skills .item {
    transition: all 0.7s;
}
#portfolio .item:hover,
#skills .item:hover {
    box-shadow: -5px 5px 2px;
    transform: translate(5px, 5px);
}

#title > a {
    border-bottom: none !important;
}
#title > a:hover {
    color: #7299c6;
}

.icon.fa-file-download {
    padding-right: 20px;
}

#contact .icon {
    font-size: 30px;
    border-bottom: none;
}

#contact .item header {
    max-height: 63px;
}

#contact .item header h3 {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#portfolio img:hover {
    cursor: pointer;
}

/* #skills .item:hover {
    cursor: pointer;
} */

#skills .item img {
    transition: all 0.7s;
}

#skills .item:hover img {
    transform: rotate(360deg);
}

.skill-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    height: 100%;
    width: 100%;
    padding-left: 375px;
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.modal-data {
    background-color: #ddbba6;
    height: fit-content;
    width: fit-content;
}

.modal-item {
    max-width: 500px;
    max-height: 500px;
    min-width: 250px;
    overflow-y: auto;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.534);
    margin-bottom: 40px;
    border-radius: 3px;
    background: #222629;
}

.modal-item header {
    margin: 0;
    padding: 1em;
    font-size: 0.8em;
    color: white;
    display: flex;
    flex-direction: column;
}

.modal-item header h3 {
    font-size: 1.2em;
    color: white;
    text-align: left;
}
.modal-item header h2 {
    color: white;
}

.modal-item header p {
    margin: 0;
}

.modal-item ul {
    margin-bottom: 0;
    text-align: left;
}

.modal-item a:hover {
    color: #ffbc42;
}

.come-in {
    transform: translateY(250px);
    animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 1s; /* So they look staggered */
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer .button {
    margin: 10px;
    padding: 0.4em 2.3em 0.4em 2.3em
}
