.project-description {
    padding: 8px;
}

.c-header.bold {
    font-weight: bold;
}

.container {
    max-width: 950px !important;
}


#portfolio .item,
#skills .item {
    transition: all .7s;

}
#portfolio .item:hover,
#skills .item:hover {
    box-shadow: -5px 5px 2px;
    position: relative;
    transform: translate(5px, 5px);
}

#title > a {
    border-bottom: none !important;
}
#title > a:hover {
    color: #7299C6
}

.icon.fa-file-download {
    padding-right: 20px;
}

#contact .icon {
    font-size: 30px;
    border-bottom: none;
}

#contact .item header {
    max-height: 63px;
}

#contact .item header h3 {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
